<div class="container">
        <li><a href="/view/listar/pacientes">Listar pacientes</a></li>
        <li><a href="/form/novo_paciente/n_pac">Novo paciente</a></li>
        <li><a href="/view/sobre/nfo">Sobre</a></li>
</div> 
