<div class="container">
        <a href="/listar_usuarios">Usuários...</a> |
        <a href="/listar_atendimentos">Atendimentos...</a> |
        <a href="/listar_processos">Processos...</a> |
        <a href="/listar_processos_pendentes">Processos pendentes... </a>
</div> 
