<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Plataforma para registro de pacientes de fisioterapia pélvica.">
    <meta name="author" content="Daniel Ferraz (https://github.com/bwb0de)">
    

    <title>Fifio  Pélvica</title>
	<link rel="shortcut icon" href="/img/favicon.ico">

     <!-- Custom style -->
    {{#each style_sheet}}<link href="/css/{{this}}.css" rel="stylesheet">{{/each}}
</head>

<body>
	
{{{body}}}

</body>
</html>



