	<header>
		<div class="header_title_box">
			<p class="title">Ações</ht>
		</div>
		<div class="header_action_box">
				<a href="/form/novo_paciente/n_pac">Novo paciente...</a> |
				<a href="/view/listar/pacientes">Listar pacientes...</a> |
				<a href="/form_pend">Listar pendências...</a> |
				<a href="/view/sobre/nfo">Sobre... </a>
		</div>
	</header>

	<div class="page_nfo">
		<div class="logo_img"><img src="/img/logo.png" height="320" class="w3-container w3-center w3-animate-zoom"></div>
		<div class="main_nfo w3-container w3-animate-opacity">Viviane F. Monteiro</div>
		<div class="sub_nfo w3-container w3-animate-opacity">Fisioterapia Pélvica</div>
	</div>
