<header>
	<div class="header_title_box">
		<p class="title">Informações sobre a plataforma</ht>
	</div>
	<div class="header_action_box">
			<a href="/">Início...</a>
	</div>
</header>

<div class="page_nfo">
	<h3>Sobre</h3>
		SPS/CLI-Wrapper criado com <b>Node.JS</b> para consulta de informações do SPS/CLI.
		<li>Autor: @bwb0de 
		<li>email: danielc@unb.br  
		<li>git: <a href='https://github.com/bwb0de'>https://github.com/bwb0de</a>
</div> 